@font-face {
    font-family: 'Roc Grotesk Wide Medium'; /*a name to be used later*/
    src: url('themes/echo-agency/assets/fonts/RocGrotesk-WideMedium.otf'); /*URL to font*/
}

.roc-grotesk-wide-medium {
    font-family: 'Roc Grotesk Wide Medium';
}

@font-face {
    font-family: 'Roc Grotesk Wide Light'; /*a name to be used later*/
    src: url('themes/echo-agency/assets/fonts/RocGrotesk-WideLight.otf'); /*URL to font*/
}

.roc-grotesk-wide-light {
    font-family: 'Roc Grotesk Wide Light';
}

@font-face {
    font-family: 'Roc Grotesk Wide Extra Light'; /*a name to be used later*/
    src: url('themes/echo-agency/assets/fonts/RocGrotesk-WideExtraLight.otf'); /*URL to font*/
}

.roc-grotesk-wide-x-light {
    font-family: 'Roc Grotesk Wide Extra Light';
}