// Extra Light
@font-face {
    font-family: 'Roc Grotesk Extra Wide';
    font-weight: 200;  
    src: url('../fonts/roc-grotesk-extra-wide-extra-light.otf');
}

// Light
@font-face {
    font-family: 'Roc Grotesk Extra Wide';
    font-weight: 300;
    src: url('../fonts/roc-grotesk-extra-wide-light.otf');
}

// Medium
@font-face {
    font-family: 'Roc Grotesk Extra Wide';
    font-weight: 500;
    src: url('../fonts/roc-grotesk-extra-wide-medium.otf');
}

// Bold
@font-face {
    font-family: 'Roc Grotesk Extra Wide';
    font-weight: 700;
    src: url('../fonts/roc-grotesk-extra-wide-bold.otf');
}

// Extra Bold
@font-face {
    font-family: 'Roc Grotesk Extra Wide';
    font-weight: 800; 
    src: url('../fonts/roc-grotesk-extra-wide-extra-bold.otf');
}