@use 'base';
@use 'pages';
@use 'layout';
@use 'components';

/* Ripple Animation */
.ripple-circle {
    position: absolute;
    pointer-events: none; /* Prevents interfering with other events */
    transform: scale(0);  /* Start the circle at 0 size */
    background-color: transparent; /* Transparent center */
    mix-blend-mode: difference;
    animation: ripple-animation 1.2s forwards;
}

@keyframes ripple-animation {
    0% {
        transform: scale(0);  /* Start with no size */
        opacity: 1;            /* Fully visible at the start */
    }
    100% {
        transform: scale(3);   /* Circle grows to 3 times its size */
        opacity: 0.0;             /* Fade out the border */
    }
}