/* Base card styles */

.wp-block-group.card-grid {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.wp-block-group.card {
    transition: all 0.3s ease;
    position: relative;
    top: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    border-width: 4px;
    border-radius: 15px;
    transition: border-color 0.3s ease;
}

.wp-block-group.card:hover {
    transform: scale(1.05);
}

.card-fit{
    height: 100%;
}

/* Unselected state modifiers */
.card--unselected {
    opacity: 0.9;
}

/* Card variations based on background context */

// Black Background

.card--on-black {
    border-radius: 15px;
    background-color: var(--wp--preset--color--black);
    color: var(--wp--preset--color--sand);

    .card__divider{
        color: var(--wp--preset--color--echo-red);
        border-width: 4px;
    }

    .card__title{
        color: var(--wp--preset--color--echo-red);
    }

    .card__details{
        color: var(--wp--preset--color--sand);
    }

    .card__button--on-black{
        color: var(--wp--preset--color--echo-red);
    }

}

// Beige Background

.card--on-beige {
    border-radius: 15px;
    background-color: var(--wp--preset--color--sand);
    color: var(--wp--preset--color--echo-red);
    
    .card__divider{
        color: var(--wp--preset--color--echo-red);
        border-width: 4px;
    }

    .card__title{
        color: var(--wp--preset--color--echo-red);
    }

    .card__details{
        color: var(--wp--preset--color--echo-red);
    }

    .card__button--on-beige{
        color: var(--wp--preset--color--echo-red);
    }
}

// Red Background

.card--on-red {
    border-radius: 15px;
    background-color: var(--wp--preset--color--echo-red);
    color: var(--wp--preset--color--sand);

        .card__divider{
            color: var(--wp--preset--color--echo-red);
            border-width: 4px;
        }

        .card__title{
            color: var(--wp--preset--color--sand);
        }
    
        
        .card__details{
            color: var(--wp--preset--color--sand);
        }
    
        .card__button--on-red{
            color: var(--wp--preset--color--sand);
        }
}

/* Hover state modifiers */

// Hover on Black

.card--on-black:hover {
    // transform: translateY(-2px);
    border-radius: 15px;
    background-color: var(--wp--preset--color--echo-red);
    border-color: var(--wp--preset--color--sand);

    .card__divider{
        color: var(--wp--preset--color--echo-red);
        border-width: 4px;
    }

    .card__title{
        color: var(--wp--preset--color--sand);
    }

    
    .card__details{
        color: var(--wp--preset--color--sand);
    }

    .card__button--on-black{
        border-color:  var(--wp--preset--color--sand);
        color: var(--wp--preset--color--sand);
    }
}

// Hover on Beige

.card--on-beige:hover {
    
    border-radius: 15px;
    background-color: var(--wp--preset--color--echo-red);
    border-color: var(--wp--preset--color--black);

    .card__divider{
        color: var(--wp--preset--color--echo-red);
        border-width: 4px;
    }

    .card__title{
        color: var(--wp--preset--color--sand);
    }

    
    .card__details{
        color: var(--wp--preset--color--sand);
    }

    .card__button--on-beige{
        color: var(--wp--preset--color--sand);
    }
}

// Hover on Red

.card--on-red:hover {

    border-radius: 15px;
    background-color: var(--wp--preset--color--black);
    border-color: var(--wp--preset--color--black);
    
    .card__divider{
        color: var(--wp--preset--color--black);
        border-width: 4px;
    }

    .card__title{
        color: var(--wp--preset--color--sand);
    }

   
    .card__details{
        color: var(--wp--preset--color--sand);
    }

    .card__button--on-red{
        color: var(--wp--preset--color--sand);
    }

}

/* Card content styles */
.card__title {
    font-family: var(--wp--preset--font-family--global);
    font-size: var(--wp--preset--font-size--large);
    font-weight: 200;
    margin-bottom: 0.5rem;
}

.card__details {
    font-family: var(--wp--preset--font-family--global);
    font-size: var(--wp--preset--font-size--medium);
    margin-bottom: 1rem;
}

.card__divider{
    border-width: 4px;
}

// .card__button {
//     font-family: var(--wp--preset--font-family--global);
//     font-size: var(--wp--preset--font-size--medium);
//     padding: 0.5rem 1rem;
//     border-radius: 4px;
//     background: transparent;
//     cursor: pointer;
//     transition: all 0.3s ease;
// }

// .card__button:hover {
//     background-color: rgba(255, 255, 255, 0.1);
// }