/* Styles Individual Navigation Links  */
.wp-block-navigation-item__content {
  margin-right: 2.25rem;
  transition: all 0.3s ease; /* Sets Hover Animation Speed */
}
    
.wp-block-navigation__responsive-container-close {
  /* Adjusts Close Button Position */
  position: absolute;
  top: 50px; /* Change vertical position */
  right: 50px; /* Change horizontal position */
  /* Refines Close Button Positioning (Matches Styled Menu Button) */
  transform: translate(10px, -10px);  
}
    
.wp-block-navigation__responsive-container-content{
  /* Adjust overall container positioning and spacing */
  // padding: 40px;
  // margin-top: 60px;
  /* Or use positioning properties */
  position: relative;
  top: 80px;
}

.wp-block-navigation__responsive-dialog {
  /* Overall dialog positioning */
  display: flex;
  flex-direction: column;
  padding: 30px;
}