<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"var:preset|spacing|20","right":"var:preset|spacing|20"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:0;padding-right:var(--wp--preset--spacing--20);padding-bottom:0;padding-left:var(--wp--preset--spacing--20)"><!-- wp:template-part {"slug":"header-logo-only","area":"header"} /-->

<!-- wp:block {"ref":16} /-->

<!-- wp:group {"metadata":{"name":"About","categories":["services"],"patternName":"core/block/4772"},"align":"full","className":"alignfull is-style-section-3","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-style-section-3" style="margin-top:0;margin-bottom:0"><!-- wp:spacer {"height":"var:preset|spacing|70"} -->
<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:columns {"verticalAlignment":"center","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|80","left":"0"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center"><!-- wp:column {"verticalAlignment":"center","width":"100%","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-right:0;padding-left:0;flex-basis:100%"><!-- wp:group {"style":{"border":{"radius":"0px","width":"0px","style":"none"},"spacing":{"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left","verticalAlignment":"center","flexWrap":"wrap"}} -->
<div class="wp-block-group" style="border-style:none;border-width:0px;border-radius:0px;margin-top:0;margin-bottom:0;padding-top:0;padding-right:var(--wp--preset--spacing--30);padding-bottom:0;padding-left:var(--wp--preset--spacing--30)"><!-- wp:heading {"textAlign":"left","level":3,"className":"coblocks-animate","style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-left coblocks-animate has-x-large-font-size">CREATIVE STRATEGY</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"selfStretch":"fixed","flexSize":"1rem"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":3,"className":"coblocks-animate","style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-left coblocks-animate has-x-large-font-size">GRAPHIC DESIGN</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"selfStretch":"fixed","flexSize":"1rem"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":3,"className":"coblocks-animate","style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-left coblocks-animate has-x-large-font-size">ART DIRECTION</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"selfStretch":"fixed","flexSize":"1rem"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":3,"className":"coblocks-animate","style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-left coblocks-animate has-x-large-font-size">MUSICAL<strong> </strong>DIRECTION</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"0px","style":{"layout":{"selfStretch":"fixed","flexSize":"1rem"}}} -->
<div style="height:0px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:heading {"textAlign":"left","level":3,"className":"coblocks-animate","style":{"layout":{"selfStretch":"fit","flexSize":null}},"fontSize":"x-large"} -->
<h3 class="wp-block-heading has-text-align-left coblocks-animate has-x-large-font-size">EVENT<strong> </strong>MANAGEMENT</h3>
<!-- /wp:heading --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"500px","className":"coblocks-animate","style":{"spacing":{"blockGap":"0","padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-column is-vertically-aligned-center coblocks-animate" style="padding-right:0;padding-left:0;flex-basis:500px"><!-- wp:buttons {"className":"is-round-large has-heart-background","style":{"border":{"radius":"600px","width":"0px","style":"none"}},"layout":{"type":"flex","justifyContent":"center"}} -->
<div class="wp-block-buttons is-round-large has-heart-background" style="border-style:none;border-width:0px;border-radius:600px"><!-- wp:button {"backgroundColor":"snow","textColor":"rich-black","width":50,"className":"is-round-large has-heart-background","style":{"border":{"style":"solid","width":"2px","color":"#151B21","radius":"1000px"},"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}},"elements":{"link":{"color":{"text":"var:preset|color|rich-black"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-round-large has-heart-background"><a class="wp-block-button__link has-rich-black-color has-snow-background-color has-text-color has-background has-link-color has-border-color wp-element-button" href="https://staging.echo-agency.co/about/" style="border-color:#151B21;border-style:solid;border-width:2px;border-radius:1000px;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">View <br>More</a></div>
<!-- /wp:button -->

<!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button"></a></div>
<!-- /wp:button -->

<!-- wp:button {"backgroundColor":"snow","textColor":"rich-black","width":50,"className":"is-round-large has-heart-background","style":{"border":{"style":"solid","width":"2px","color":"#151B21","radius":"1000px"},"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}},"elements":{"link":{"color":{"text":"var:preset|color|rich-black"}}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-round-large has-heart-background"><a class="wp-block-button__link has-rich-black-color has-snow-background-color has-text-color has-background has-link-color has-border-color wp-element-button" style="border-color:#151B21;border-style:solid;border-width:2px;border-radius:1000px;padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70)">j<br>Test<br>k<br>o<br>p</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:spacer {"height":"var:preset|spacing|70"} -->
<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->