<!-- wp:template-part {"slug":"header-hidden","area":"header"} /-->

<!-- wp:columns {"metadata":{"categories":["text"],"patternName":"image-on-solid-color-with-description","name":"Image on solid color with description"},"align":"full","style":{"spacing":{"padding":{"right":"0px","left":"0px"}}}} -->
<div class="wp-block-columns alignfull" style="padding-right:0px;padding-left:0px"><!-- wp:column {"width":"50%","style":{"border":{"width":"0px","style":"none"}}} -->
<div class="wp-block-column" style="border-style:none;border-width:0px;flex-basis:50%"><!-- wp:cover {"useFeaturedImage":true,"dimRatio":0,"isUserOverlayColor":true,"minHeight":720,"isDark":false,"className":"is-style-default","style":{"border":{"radius":{"topLeft":"0px","bottomLeft":"0px","topRight":"500px","bottomRight":"500px"}},"dimensions":{"aspectRatio":"3/4"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-cover is-light is-style-default" style="border-top-left-radius:0px;border-top-right-radius:500px;border-bottom-left-radius:0px;border-bottom-right-radius:500px;min-height:720px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","fontSize":"large"} -->
<p class="has-text-align-center has-large-font-size"></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"1em","right":"1em","bottom":"1em","left":"1em"}},"border":{"radius":{"bottomRight":"0px","topLeft":"0px","topRight":"0px","bottomLeft":"0px"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px;padding-top:1em;padding-right:1em;padding-bottom:1em;padding-left:1em"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"100%"} -->
<div class="wp-block-column" style="flex-basis:100%"><!-- wp:query {"queryId":13,"query":{"perPage":1,"pages":0,"offset":0,"postType":"talent","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false,"parents":[],"format":[]}} -->
<div class="wp-block-query"><!-- wp:group {"className":"artist-hero-section","style":{"position":{"type":""}},"layout":{"type":"default"}} -->
<div class="wp-block-group artist-hero-section"><!-- wp:columns {"verticalAlignment":"center","className":"is-not-stacked-on-mobile"} -->
<div class="wp-block-columns are-vertically-aligned-center is-not-stacked-on-mobile"><!-- wp:column {"width":"100%","className":"content-column","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"fontSize":"medium"} -->
<div class="wp-block-column content-column has-medium-font-size" style="padding-right:0;padding-left:0;flex-basis:100%"><!-- wp:post-title {"lock":{"move":true,"remove":true},"fontSize":"xx-large"} /-->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","flexWrap":"wrap"}} -->
<div class="wp-block-group"><!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|rich-black"}}}},"textColor":"rich-black","fontSize":"small"} /-->

<!-- wp:term-description {"style":{"elements":{"link":{":hover":{"color":{"text":"var:preset|color|rich-black"}},"color":{"text":"var:preset|color|heart"}}}},"textColor":"rich-black"} /-->

<!-- wp:paragraph {"align":"center","style":{"spacing":{"padding":{"right":"0","left":"0"}}}} -->
<p class="has-text-align-center" style="padding-right:0;padding-left:0">Featuring:</p>
<!-- /wp:paragraph -->

<!-- wp:post-terms {"term":"featured_talent","textAlign":"center","style":{"elements":{"link":{"color":{"text":"var:preset|color|rich-black"},":hover":{"color":{"text":"var:preset|color|heart"}}}}},"textColor":"rich-black"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"1.41rem"} -->
<div style="height:1.41rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
<div class="wp-block-group"><!-- wp:post-content {"lock":{"move":true,"remove":true},"fontSize":"medium","layout":{"type":"default"}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"1.41rem"} -->
<div style="height:1.41rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:buttons {"className":"artist-cta"} -->
<div class="wp-block-buttons artist-cta"><!-- wp:button {"className":"book-talent"} -->
<div class="wp-block-button book-talent"><a class="wp-block-button__link wp-element-button">BOOK TALENT</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"1.41rem"} -->
<div style="height:1.41rem" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:social-links {"iconColor":"snow","iconColorValue":"#F4EDED","iconBackgroundColorValue":"#151B21","className":"artist-social is-style-pill-shape"} -->
<ul class="wp-block-social-links has-icon-color has-icon-background-color artist-social is-style-pill-shape"><!-- wp:social-link {"url":"#","service":"instagram"} /-->

<!-- wp:social-link {"url":"#","service":"tiktok"} /-->

<!-- wp:social-link {"service":"bluesky"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:query --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->